<div class="main-container">

    <!--Card that holds the tokens-->
    <div class="output-card">

        <div class="prompt-sub-card">
            <!--This is the "tokens[]" iteratively output inside of pills-->
            <app-keyword-pill *ngFor="let token of tokens; index as i" (removeEvent)="removeKeyword($event)" [index]="i">{{token.text}}</app-keyword-pill>
        </div>

    </div>

    <!--Card Controls Bar (outside of card to hover over it)-->
    <div class="output-card-control-bar">
        <div class="slot1">
            <app-nav-button [iconClass]="'sendIcon'"></app-nav-button>
        </div>
        <div class="slot2">
            <app-nav-button [iconClass]="'weightIcon'"></app-nav-button>
        </div>  
        <div class="slot10">
            <app-nav-button [iconClass]="'trashIcon'"></app-nav-button>
        </div>      
        
            
    </div>
</div>