

<div class="container-main">

    <div class="title-area">
        <p class="title">Syntaxer</p>
    </div>

    <div class="left-controls-area">
        <app-control-bar></app-control-bar>
    </div>

    <div class="right-tinkerer-area">
        <app-tinkerer></app-tinkerer>
    </div>

    <!--The "feature pages"-->
    <div class="prompt-area">
        <app-prompt-area></app-prompt-area>
    </div>

    <!--Shroud Area:: Goes Last to automatically render ABOVE other components
    (except tinkerer due to anim and title due to z-index)-->
    <div class="shroud-area">
        <app-shroud-component (toggleEvent)="passToTinkerer()"></app-shroud-component>
    </div>

</div>