

<div class="container-main">

    <div class="title-area">
        <p class="title">Syntaxer</p>
    </div>

    <div class="left-controls-area">
        <app-control-bar></app-control-bar>
    </div>

    <div class="right-tinkerer-area">
        <!--The parent* eventsSubject.asObservable is iterated once below in the event binding, 
            tinkerer then subscribes onInit and calls a Fn() when its local variable holding this data gets iterated-->
        <app-tinkerer (showShroud)="showShroud()" [events]="eventsSubject.asObservable()"></app-tinkerer>
    </div>

    <!--The "feature pages"-->
    <div class="prompt-area">
        <app-prompt-area></app-prompt-area>
    </div>

    <!--Shroud Area:: Goes Last to automatically render ABOVE other components
        (except tinkerer due to anim and title due to z-index)-->
    <div id="tinkererShroudArea" class="shroud-area hide">
        <!--The parent emit() is event bound to a custom emitted toggleEvent in the child, and iterates once-->
        <app-shroud-component (toggleEvent)="emitEventToChild()"></app-shroud-component>
    </div>

</div>