<div class="controlbar-main">
    
    <div class="slot1">
        <app-nav-button [iconClass]="'terminalIcon'" [buttonFill]="'lightGreen'"></app-nav-button>
    </div>
    <div class="slot2">
        <app-nav-button [iconClass]="'scaleIcon'" [buttonFill]="'lightRed'"></app-nav-button>
    </div>
    <div class="slot3">
        <app-nav-button [iconClass]="'notepadIcon'" [buttonFill]="'lightBlue'"></app-nav-button>
    </div>
    <div class="slot4">
        <app-nav-button [iconClass]="'nodesIcon'" [buttonFill]="'lightBlue'"></app-nav-button>
    </div>


    <div class="slot8">
        <app-nav-button [iconClass]="'bulbIcon'" [buttonFill]="'lightBlue'"></app-nav-button>
    </div>
    
</div>