.controlbar-main {
    display: grid;
    height: 100%;
    width: 100%;

    min-height: 100%;
    min-width: 100%;

    gap: 0px;       /* This is the current implementation of gutters for CSS Grid - ONLY AFFECTS SPACE BETWEEN */
    padding: 0px 0px 0px 0px;       /*This is to match the "gap" size above*/
    
    grid-template-columns: repeat(1, [col] 1fr);
    grid-template-rows: repeat(8, [row] 1fr);
}

.slot1 {
    grid-column: col 1 / span 1;
    grid-row: row 1 / span 1;
    margin: 10px; /*For constraing the button within the navbar "cells"*/
}
.slot2 {
    grid-column: col 1 / span 1;
    grid-row: row 2 / span 1;
    margin: 10px; /*For constraing the button within the navbar "cells"*/
}
.slot3 {
    grid-column: col 1 / span 1;
    grid-row: row 3 / span 1;
    margin: 10px; /*For constraing the button within the navbar "cells"*/
}
.slot4 {
    grid-column: col 1 / span 1;
    grid-row: row 4 / span 1;
    margin: 10px; /*For constraing the button within the navbar "cells"*/
}


.slot8 {
    grid-column: col 1 / span 1;
    grid-row: row 8 / span 1;
    margin: 10px; /*For constraing the button within the navbar "cells"*/
}