.card-container {
    /*background-color: lightgoldenrodyellow;*/
    width: 100%;
    height: 100%;

    min-height: 150px;
    max-height: 250px; /*If you modify this, the buttons look weird due to being content in cells that stretch instead of a container within the cell!*/

    display: grid;
    grid-template-columns: repeat(10, [col] 1fr);
    grid-template-rows: repeat(7, [row] 1fr);
    gap: 0px;
}

.upStackArea{
    grid-column: col 1 / span 1;
    grid-row: row 1 / span 1;
    background-color: #DDDDDD;

    display: flex; /*So the smaller icons can position within the card cell instead of stretching to fill a hard block element*/
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
    padding-top: 0px; /*To match the padding added to the close icon*/

    justify-content: center;
}

.downStackArea{
    grid-column: col 2 / span 1;
    grid-row: row 1 / span 1;
    background-color: #BBBBBB;

    display: flex; /*So the smaller icons can position within the card cell instead of stretching to fill a hard block element*/
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 0px 0px;
    padding-top: 0px; /*To match the padding added to the close icon*/

    justify-content: center;
}

.upStackArea:hover {
    background-image: radial-gradient(100% 100% at 100% 0, #DDDDDD 0, #CCCCCC 100%);
}
.downStackArea:hover {
    background-image: radial-gradient(100% 100% at 100% 0, #BBBBBB 0, #AAAAAA 100%);
}

.closeIconArea {
    grid-column: col 10 / span 1;
    grid-row: row 1 / span 1;
    background-color: red;

    display: flex; /*So the smaller icons can position within the card cell instead of stretching to fill a hard block element*/
    height: 100%;
    width: 100%;
    padding: 3px 0px 3px 0px;
    border-radius: 10px 10px 10px 10px;
    /*transform: translateY(10px); this causes issues with stacking contexts since it now floats above other elements */

    justify-content: center;
}

.textArea {
    grid-column: col 1 / span 10;
    grid-row: row 2 / span 5;
    background-color: lightgreen;

    display: block;
    height: 100%;
    width: 98%; /*To make the "close icon" "hover" a bit*/
    border-radius: 0px 15px 15px 15px;

    font-size: 3rem;
    padding: 15px;
    overflow-y: hidden;
}

/*===== Icons =====*/
.upStackIcon {
    background-image: url("../../../../assets/move-up-stack-svgrepo_256x256.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-top: 5px;
    width: 30px;
    height: 25px;
}

.downStackIcon {
    background-image: url("../../../../assets/move-down-stack-svgrepo_256x256.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-top: 5px;
    width: 30px;
    height: 25px;
}

.closeIcon {
    background-image: url("../../../../assets/minus-square-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 30px;
    height: 30px;
}