:host {
    --nav-bg-lightblue: radial-gradient(100% 100% at 100% 0, #6FA8C9 0, #6FA8C9 100%); /*The SECOND value is the actual fill color, the first is the highlight on hover*/
    --nav-bg-lightgreen: radial-gradient(100% 100% at 100% 0, #6fc99d 0, #6fc9a5 100%);
    --nav-bg-lightred: radial-gradient(100% 100% at 100% 0, #c96f6f 0, #c96f6f 100%);
    --nav-bg-lightgrey: radial-gradient(100% 100% at 100% 0, #d2d2d2 0, #b3b3b3 100%);
}

.icon-area{
    width: 100%;
    height: 100%;
    display: block;
}

/*===== Icon Classes =====*/
.coneIcon {
    background-image: url("../../../../assets/traffic-cone-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

.terminalIcon {
    background-image: url("../../../../assets/terminal-screen-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

.scaleIcon {
    background-image: url("../../../../assets/scale-unbalanced-flip-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

.notepadIcon {
    background-image: url("../../../../assets/notepad-edit-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 40px;
    height: 40px;
}

.nodesIcon {
    background-image: url("../../../../assets/node-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 40px;
    height: 40px;
}

/*A special Tinkerer button - adding the tokens to the prompt area*/
.addIcon {
    background-image: url("../../../../assets/add-category-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 35px;
    height: 35px;
}

/*The Buttons for the Prompt Output area*/
.weightIcon {
    background-image: url("../../../../assets/weight-hanging-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 25px;
    height: 25px;
}
.sendIcon {
    background-image: url("../../../../assets/product-consumed-state-svgrepo_1024x1024.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 5px 0px 0px 0px;
    width: 35px;
    height: 35px;
}
.trashIcon {
    background-image: url("../../../../assets/trash-svgrepo_1024x1024png.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 8px 0px 0px 0px;
    width: 25px;
    height: 25px;
}

/*===== ========== =====*/

/*===== General Button Styling =====*/
.nav{
    color: black;
    /*background-image: radial-gradient(100% 100% at 100% 0, #6FA8C9 0, #6FA8C9 100%); /*The SECOND value is the actual fill color, the first is the highlight on hover*/
    
    box-shadow: #033a05 0 2px 4px, #033a1e 0 2px 6px -3px, #033a1e 0 -3px 0 inset;  /*You can combine multiple box-shadows for the nice*/
    
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    border-radius: 8px;
    border: none;
    
    white-space: nowrap;
    user-select: none; /*This determines if the user can select the text in the button*/
    overflow: hidden;

    /*Interactions with pointer/touch*/
    cursor: pointer;
    touch-action: manipulation;

    padding: 5px; /*attempting to give the buttons a little breathing room in the grid*/
    width: 100%;
    height: 100%;
    min-width: 20px; /*For preventing button "collapse" when the responsive stuff takes over*/

    display: flex;
    justify-content: center;
    align-content: center;
}
.lightGrey {
    background-image: var(--nav-bg-lightgrey);
}
.lightBlue {
    background-image: var(--nav-bg-lightblue);
}
.lightGreen {
    background-image: var(--nav-bg-lightgreen);
}
.lightRed {
    background-image: var(--nav-bg-lightred);
}

.nav:hover {
    /*box-shadow: #033a1e 0 4px 8px .5px, #033a1e 0 7px 13px -3px, #033a1e 0 -3px 0 inset;*/
    transform: translateY(0px);
    background-image: radial-gradient(100% 100% at 100% 0, #84bbdb 0, #69a9ce 100%);
    /*box-shadow: 0px 1px 2px #183a03;*/
}
.nav:active {
    box-shadow:  0 2px 5px #033a1e inset; /*This is the click shadow inset*/
    transform: translateY(2px);
}
/*
.nav:focus {
    box-shadow: #033a1e 0 0 0 1px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #033a1e 0 -3px 0 inset;
}
*/


.nav.disabled{
    color: #CCCCCC;
    background-image: radial-gradient(100% 100% at 100% 0, #AAAAAA 0, #AAAAAA 100%);
    /*box-shadow: #033a1e 0 4px 8px .5px, #033a1e 0 7px 13px -3px, #033a1e 0 -3px 0 inset;*/
    cursor: default;
    user-select: none;
    pointer-events: none; /*disabling the click events*/
}
.nav.disabled:hover{
    color: #CCCCCC;
    background-image: radial-gradient(100% 100% at 100% 0, #AAAAAA 0, #AAAAAA 100%);
    cursor: default;
}