<div class="dialog-container">
    <div class="dialog-output">
        <div class="dialog dialog-output-box1">
            <p>abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvw</p>
        </div>
        <div class="dialog dialog-output-box2">
            <p>abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvw</p>
        </div>
        <div class="dialog dialog-output-box3">
            <p>abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvw</p>
        </div>
        <div class="dialog dialog-output-box4">
            <p>abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklmnopqrstuvwxy abcdefghijklm</p>
        </div>
        <div class="dialog-output-box-button"></div>

    </div>
</div>