<div class="tinkerer-main" id="tinkerer">

    <!--This is the control area for adding the basic blocks-->
    <div class="tinkerer-controls">
        <div class="controls-grid">

            <div class="slot1">
                <app-dynamic-button [iconClass]="'boxIcon'">
                    <p class="button-label">Object</p>
                </app-dynamic-button>
            </div>

            <div class="slot2">
                <app-dynamic-button [iconClass]="'mapIcon'">
                    <p class="button-label">Place</p>
                </app-dynamic-button>
            </div>

            <div class="slot3">
                <app-dynamic-button [iconClass]="'wrenchIcon'">
                    <p class="button-label">Adjective</p>
                </app-dynamic-button>
            </div>

            <div class="slot4">
                <app-dynamic-button [iconClass]="'pickerIcon'">
                    <p class="button-label">Color</p>
                </app-dynamic-button>
            </div>

            
        </div>
    </div>

    <!--This is for the "body" - where the "token cards" are output-->
    <div class="tinkerer-body">
        <div class="body-grid">
            
            <app-body-card></app-body-card>
            <app-body-card></app-body-card>
            <app-body-card></app-body-card>
            
        </div>
    </div>
    
    <!--Tinkerer Menu Tab-->
    <div class="showHideTabArea" (click)="[toggleTinkerer(), toggleShroud()]">
        <div class="iconArea" id="tabIcon"></div>
    </div>

    <!--Add button to send the tokens to the prompt area-->
    <div class="addButtonArea">
        <app-nav-button [iconClass]="'addIcon'"></app-nav-button>
    </div>
</div>