<div class="tinkerer-main">

    <!--This is the control area for adding the basic blocks-->
    <div class="tinkerer-controls">
        <div class="controls-grid">

            <div class="slot1">
                <app-dynamic-button>
                    <p class="button-label">Object</p>
                </app-dynamic-button>
            </div>

            <div class="slot2">
                <app-dynamic-button>
                    <p class="button-label">Object</p>
                </app-dynamic-button>
            </div>

            
        </div>
    </div>

    <!--This is for the "body" - where the core blocks are output-->
    <div class="tinkerer-body">
        <div class="body-grid">
            Body Grid
        </div>
    </div>
    
</div>