.tinkerer-main {
    display: grid;
    height: 100%;
    width: 100%;

    min-height: 100%;
    min-width: 100%;

    gap: 10px;       /* This is the current implementation of gutters for CSS Grid - ONLY AFFECTS SPACE BETWEEN */
    padding: 5px 5px 0px 5px;       /*This is to match the "gap" size above*/
    
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(8, [row] 1fr);

    background-color: #888888;

    /*transform: translateX(100%);*/
}

.tinkerer-controls {
    grid-column: col 1 / span 4;
    grid-row: row 1 / span 3;
    background-color: #777777;
    display: block;
    padding: 10px;
}

.controls-grid {
    display: grid;
    height: 100%;
    width: 100%;

    gap: 10px;       /* This is the current implementation of gutters for CSS Grid - ONLY AFFECTS SPACE BETWEEN */
    padding: 10px 10px 10px 10px;       /*This is to match the "gap" size above*/
    
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(4, [row] 1fr);

    background-color: #999999;
}

.slot1 {
    grid-column: col 1 / span 2;
    grid-row: row 1 / span 1;
}
.slot2 {
    grid-column: col 3 / span 2;
    grid-row: row 1 / span 1;
}
.slot3 {
    grid-column: col 1 / span 2;
    grid-row: row 2 / span 1;
}
.slot4 {
    grid-column: col 3 / span 2;
    grid-row: row 2 / span 1;
}

.tinkerer-body {
    grid-column: col 1 / span 4;
    grid-row: row 4 / span 5;
    background-color: #777777;
    display: block;
    padding: 10px;
}

.body-grid {
    display: grid;
    height: 100%;
    width: 100%;

    gap: 5px;       /* This is the current implementation of gutters for CSS Grid - ONLY AFFECTS SPACE BETWEEN */
    padding: 2px 2px 2px 2px;       /*This is to match the "gap" size above*/
    
    grid-template-columns: repeat(4, [col] 1fr);
    grid-auto-rows: auto;

    background-color: #999999;
}

.button-label {
    font-size: 2.5rem; /*This is where you change the LABEL TEXT SIZE*/
    line-height: 1;
    text-align: left;
    float: left; /*this float is required for the float right on the chevron to work*/
    padding: 5px 2px 2px 2px;
    width: 60%;
}


/*Animation Stuff*/
.tinkerer-main.animateIn {
    transform: translateX(0);
    transition-delay: 0s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
}

.close {
    grid-column: col 1 / span 10;
    grid-row: row 1 / span 8;
    background-color: #012431;
    opacity: 0.5;
    display: none;

    animation: fadeIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
    }

    100% {
        background: rgba(0, 38, 51, 0.7);
    }
}