<div class="tinkerer-main">

    <!--This is the control area for adding the basic blocks-->
    <div class="tinkerer-controls">
        <div class="controls-grid">

            <div class="slot1">
                <app-dynamic-button [iconClass]="'boxIcon'">
                    <p class="button-label">Object</p>
                </app-dynamic-button>
            </div>

            <div class="slot2">
                <app-dynamic-button [iconClass]="'mapIcon'">
                    <p class="button-label">Place</p>
                </app-dynamic-button>
            </div>

            <div class="slot3">
                <app-dynamic-button [iconClass]="'wrenchIcon'">
                    <p class="button-label">Adjective</p>
                </app-dynamic-button>
            </div>

            <div class="slot4">
                <app-dynamic-button [iconClass]="'pickerIcon'">
                    <p class="button-label">Color</p>
                </app-dynamic-button>
            </div>

            
        </div>
    </div>

    <!--This is for the "body" - where the core blocks are output-->
    <div class="tinkerer-body">
        <div class="body-grid">
            Body Grid
        </div>
    </div>
    

    <div class="showHideTabArea">
        <div class="iconArea"></div>
    </div>
</div>